<VirtualHost *:80>
	ServerAdmin ADMIN_EMAIL
	DocumentRoot WEBROOT

	ServerName DOMAIN
    ServerAlias www.DOMAIN

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
